/.curseclient
/crash-reports
/defaultconfigs
/downloads
/enigmatic_persistence.dat
/imgui.ini
/local
/logs
/minecraftinstance.json
/mods
/moreplayermodels
/options.txt
/resourcepacks
/rhino.local.properties
/saves
/schematics
/screenshots
/shaderpacks
/trees
/usercache.json
/usernamecache.json
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap