/.curseclient
/crash-reports
/defaultconfigs
/downloads
/enigmatic_persistence.dat
/imgui.ini
/local
/logs
/minecraftinstance.json
/mods
/moreplayermodels
/options.txt
/resourcepacks
/rhino.local.properties
/saves
/schematics
/screenshots
/shaderpacks
/trees
/usercache.json
/usernamecache.json
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap
config/byg/backups/last_working_configs_backup.zip
config/dsurround/environs-client-1.toml.bak
config/awesomedungeonnether.properties
config/bettervillage.properties
config/fastload.properties
config/libraryferret.properties
config/oculus.properties
config/rare-ice.properties
config/byg/nether-biomes.json5
config/byg/backups/last_working_configs_backup.zip
config/AdvancedCompass/mobs/born_in_chaos_v1/mobs.json
config/AdvancedCompass/mobs/born_in_chaos_v1/seared_spirit.png
config/dsurround/environs-client-2.toml.bak
config/jei/world/local/testing/bookmarks.ini
config/byg/backups/last_working_configs_backup.zip
config/awesomedungeonnether.properties
config/bettervillage.properties
config/fastload.properties
